@import "_variables";
@import "_mixins";

.header {
  &__inner {
    padding-top: 25px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    gap: 25px;
    border-bottom: 1px solid $colorGrey;
  }
  &__logo,
  &__nav,
  &__social {
    height: 108px;
    background-color: grey;
  }
  &__logo {
    grid-column: span 2;
  }
  &__nav {
    grid-column: span 4;
  }
  &__social {
    grid-column: span 6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &__link {
    @include text(14px, 22px, 400, $colorWhite);
    @include transition(opacity, 0.3s, ease-in-out);
  }
}

//hover
@media (min-width: 1024px) {
  .header {
    &__link:hover {
      opacity: 0.5;
    }
  }
}

//active, focus
.header {
  &__link:active {
    opacity: 0.5;
  }
  &__link:focus {
    opacity: 0.5;
    outline: none;
  }
}

@media (max-width: 768px) {
  .header {
    &__logo {
      grid-column: span 6;
    }
    &__nav {
      grid-column: span 6;
    }
    &__social {
      grid-column: span 12;
    }
  }
}
